<div class="container">
  <h2 class="page-title">-All post-</h2>
  <% @posts.order('updated_at DESC').each do |post| %>
    <div class="all-post border-bottom d-flex justify-content-between">
      <div class="post-player">
        <div class="post-player-index">
          <%= attachment_image_tag post.player, :player_image, fallback: "no_image.jpg", class: "icon-post" %><br>
          <%= post.player.name %>
        </div>
      </div>
      <div class="post-title">
        <%= link_to post_path(post.id) do %>
          <h3 class="post-title-link"><%= post.title %></h3>
        <% end %>
      </div>
      <div class="post-time text-right">
        <span><%= post.created_at.strftime('%Y/%m/%d') %></span>
      </div>
    </div>
  <% end %>
</div>