<div class="container">
  <h2 class="page-title">-New note-</h2>
  <div class="center-block" >
    <%= form_with model: @post, local:true, html: {class: "col-md6 offset-md-3"} do |f| %>
      <div class="post title">
        <%= f.text_field :title, :size=>"67", placeholder: 'タイトル' %>
      </div>
      <div class="post body">
        <%= f.text_area :body, :size=>"66x15", placeholder: 'テキストを入力' %>
      </div>
      <div class="post image">
        <%= attachment_image_tag @post, :image %>
        <%= f.attachment_field :image %>
      </div>
      <div class="post post-btn">
        <%= f.submit '投稿する', class: "btn btn-warning w-100 save col-xs-6 btn-lg" %>
      </div>
    <% end %>
  </div>
</div>