<div class="container">
  <h2>-New post-</h2>
  <%= form_with model: @post, local:true do |f| %>
    <%= f.text_field :title, placeholder: 'タイトル' %></br>
    <%= f.text_area :body, placeholder: 'テキストを入力' %><br>
    <%= attachment_image_tag @post, :image %>
    <%= f.attachment_field :image %></br>
    <%= f.submit '投稿する', class: "btn btn-warning" %>
  <% end %>

</div>