<div class="container">
  <h2 class="page-title">-<%= @post.player.name %>のNote-</h2>
  <%= attachment_image_tag @post.player, :player_image, fallback: "no_image.jpg", class: "icon-post" %>
  <%= link_to @post.player.name, player_path(@player.id), class: "post-show-name" %>
  <div class="post-show">
    <%= @post.created_at.strftime('%Y/%m/%d') %> 投稿
    <% if player_signed_in? && @player.id == current_player.id %>
      <h3 class="post-show-edit"><%= link_to "️", edit_post_path(@post), class: "fas fa-cog floot-right" %></h3>
    <% end %>
    <p class="sentiment-score">本文の感情分析スコア[<%= @post.score %>]</p>
  </div>
  <div class="card">
    <h3 class="card-header text-center">
      <%= @post.title %>
    </h3>
    <div class="card-body">
      <div class="card-text">
        <%= simple_format(@post.body) %>
        <%= attachment_image_tag @post, :image, :fill, 300, 300 %>
      </div>
    </div>
  </div>
</div>