<div class="container">
  <h2 class="page-title">-<%= @player.name %>-</h2>
  <%= form_with model: @player, url: admin_player_path, method: :patch, local: true do |f| %>
  <p>選手ID <%= @player.id %></p>
  <table class="table table-bordered mt-3">
    <tbody>
      <tr>
        <td>
          <%= f.label "選手名" %>
          <%= f.text_field :name %>
        </td>
        <td>
          <%= f.label "e-mail" %>
          <%= f.text_field :email %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "在籍校" %>
          <%= f.text_field :school %>
        </td>
        <td>
          <%= f.label "在籍チーム" %>
          <%= f.text_field :enrollment %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "学年" %>
          <%= f.select :grade, options_for_select(Player.grades.keys, selected: @player.grade), {prompt: "選択してください"} %>
        </td>
        <td>
          <%= f.label "活動拠点" %>
          <%= f.select :base, options_for_select(Player.bases.keys, selected: @player.base), {prompt: "選択してください"} %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="form-group col-md-12">
    <%= f.label "選手ステータス", class: "col-md-4 control-label" %>
    <%= f.radio_button :player_status, false %>
  　<%= f.label :player_status, "有効", {value: :false, style: "display: inline-block;"} %>
  　<%= f.radio_button :player_status, true %>
  　<%= f.label :player_status, "退会", {value: :true, style: "display: inline-block;"} %>
  </div>

  <div class="actions col-md-12">
    <%= link_to "保存せずに戻る", admin_players_path, class: "glyphicon glyphicon-home btn btn-info" %>
    <%= f.submit "編集内容を保存する",class: "btn btn-primary save col-xs-6" %>
  </div>

  <% end %>


</div>