<div class="container">
  <h2>-Players list-</h2>
  <table class="table table-list">
    <thead>
      <tr>
        <th>選手ID</th>
        <th>選手名</th>
        <th>学年</th>
        <th>学校</th>
        <th>在籍チーム</th>
        <th>活動拠点</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @players.each do |player| %>
    <tbody>
      <tr>
        <td><%= player.id %></td>
        <td><%= link_to player.name, edit_admin_player_path(player.id) %></td>
        <td><%= player.grade %></td>
        <td><%= player.school %></td>
        <td><%= player.enrollment %></td>
        <td><%= player.base %></td>
        <td>
          <% if player.player_status == true %>
            <p><i class="fas fa-bullseye blue"></i>退会済</p>
          <% else %>
            <p><i class="fas fa-bullseye red"></i>有効</p>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>


</div>