<div class="container">
  <h2 class="page-title">-Player page-</h2>

  <div class="card">
    <div class="card-body">
      <div class="player-info d-flex justify-content-between">
        <div class="player-image"><%= attachment_image_tag @player, :player_image, fallback: "no_image.jpg", class: "icon" %></div>
        <div class="player-name"><h2><%= @player.name %></h2></div>
        <div class="player-option">
          <% if player_signed_in? && @player.id == current_player.id %>
          <% elsif current_school.already_liked?(@player) %>
            <%= link_to '', player_like_path(player_id: @player.id), method: :delete, class: "fas fa-heart fa-2x mr-3" %>
          <% else %>
            <%= link_to '️', player_likes_path(player_id: @player.id), method: :post, class: "far fa-heart fa-2x mr-3" %>
          <% end %>

          <% if school_signed_in? %>
            <% if current_school.already_liked?(@player) %>
              <% if @isRoom %>
                <%= link_to "", room_path(@roomId), class: 'fas fa-envelope-open-text fa-2x' %>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :room_id, value: params[:id] %>
                    <%= e.hidden_field :player_id, value: @player.id %>
                  <% end %>
                  <%= f.button :type => "submit" do %>
                    <div class="far fa-envelope fa-2x"></div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <!--選手ログイン時に表示するメッセージ一覧へ遷移するリンク-->
          <% else %>
            <%= link_to "", rooms_path, class: 'fas fa-envelope-open-text fa-2x mr-3' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Data
          <% if player_signed_in? && @player.id == current_player.id %>
            <%= link_to "️", edit_player_path(@player), class: "fas fa-cog" %>
          <% end %>
        </h4>
        <table class="table">
          <tbody>
              <tr>
                  <td>名前</td>
                  <td><%= @player.name %></td>
              </tr>
              <tr>
                  <td>学年</td>
                  <td><%= @player.grade %></td>
              </tr>
              <tr>
                  <td>学校/在籍チーム</td>
                  <td><%= @player.school %>/<%= @player.enrollment %></td>
              </tr>
              <tr>
                  <td>拠点</td>
                  <td><%= @player.base %></td>
              </tr>
              <tr>
                  <td>PR</td>
                  <td><%= simple_format(@player.player_pr) %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Note</h4>
        <ul class="mypage-post-all">
          <% @posts.order('updated_at DESC').limit(3).each do |post| %>
          <li class="mypage-post-line border-line">
            <time><%= post.created_at.strftime('%Y/%m/%d') %></time>
            <div class="mypage-post-title"><%= post.title %></div>
          </li>
          <% end %>
        </ul>
        <%= link_to posts_path(player_id: params[:id]) do %>
          <p class="post-link">All note</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
