<div class="container">
  <h2>-Player page-</h2>
  <h2><%= @player.name %></h2>
  <%= attachment_image_tag @player, :player_image, fallback: "no_image.jpg", class: "icon" %>

  <% if player_signed_in? && @player.id == current_player.id %>
    <h3><%= link_to "⚙️", edit_player_path(@player) %></h3>
  <% end %>

  <% if player_signed_in? && @player.id == current_player.id %>
  <% elsif current_school.already_liked?(@player) %>
    <%= link_to '❤', player_like_path(player_id: @player.id), method: :delete %>
  <% else %>
    <%= link_to '🤍️', player_likes_path(player_id: @player.id), method: :post %>
  <% end %>

  <% if school_signed_in? %>
    <% if current_school.already_liked?(@player) %>
      <% if @isRoom %>
        <%= link_to "📨", room_path(@roomId) %>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :room_id, value: params[:id] %>
            <%= e.hidden_field :player_id, value: @player.id %>
          <% end %>
          <%= f.submit "📨test" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


  <table class="table">
    <tbody>
        <tr>
            <td>名前</td>
            <td><%= @player.name %></td>
        </tr>
        <tr>
            <td>学年</td>
            <td><%= @player.grade %></td>
        </tr>
        <tr>
            <td>学校/在籍チーム</td>
            <td><%= @player.school %>/<%= @player.enrollment %></td>
        </tr>
        <tr>
            <td>拠点</td>
            <td><%= @player.base %></td>
        </tr>
        <tr>
            <td>PR</td>
            <td><%= @player.player_pr %></td>
        </tr>
    </tbody>
  </table>
  <h3>Post</h3>
  <% @posts.each do |post| %>
    <div>
      <p><%= post.created_at.strftime('%Y/%m/%d') %>
          <%= post.title %>
      </p>
    </div>
  <% end %>
  <%= link_to posts_path do %>
    <h4>All post</h4>
  <% end %>


</div>