<div class="container">
  <h2>-検索結果-</h2>
  <table class="table table-list">
    <thead>
      <tr>
        <th></th>
        <th>選手名</th>
        <th>学年</th>
        <th>学校</th>
        <th>在籍チーム</th>
        <th>活動拠点</th>
      </tr>
    </thead>
    <% @players.each do |player| %>
    <tbody>
      <tr>
        <th>
          <%= attachment_image_tag player, :player_image, fallback: "no_image.jpg", class: "icon" %>
          <% if current_school.already_liked?(player) %>
            <%= link_to '❤', player_like_path(player), method: :delete %>
          <% else %>
            <%= link_to '🤍️', player_likes_path(player_id: player.id), method: :post %>
          <% end %>
        </th>
        <td><%= link_to player.name, player_path(player.id) %></td>
        <td><%= player.grade %></td>
        <td><%= player.school %></td>
        <td><%= player.enrollment %></td>
        <td><%= player.base %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>