<div class="container">
  <h2 class="page-title">-Message-</h2>

  <div class="page-content page-container" id="page-content">
      <div class="row container d-flex justify-content-center">
          <div class="col-md-10">
              <div class="card card-bordered">
                  <div class="card-header d-flex align-items-center mb-3">
                      <h4 class="card-title m-auto">
                        <!--相手名の表示-->
                        <% if school_signed_in? %>
                          <div class="message-name">
                            <% @entries.each do |entry| %>
                              <%= link_to entry.player&.name, player_path(entry.player.id), class: "message-name-color" %>
                            <% end %>
                          </div>
                        <% else %>
                          <div class="message-name">
                            <% @entries.each do |entry| %>
                              <%= link_to entry.school&.high_school_name, school_path(entry.school.id), class: "message-name-color" %>
                            <% end %>
                          </div>
                        <% end %>
                      </h4>
                  </div>
                  <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                    <!--学校側から見たメッセージ画面-->
                    <% if school_signed_in? %>
                      <% @messages.each do |m| %>
                        <% if m.player_id %>
                          <!--選手のメッセージ-->
                          <div classe="message-room">
                            <div class="message-size">
                              <div class="message-sending">
                            <div class="ml-2"><%= attachment_image_tag m.player, :player_image, fallback: "no_image.jpg", class: "message-avatar mr-2" %></div>
                                <p class="message-content-pair"><%= m.content %></p>
                                <p class="message-time ml-2"><%= m.created_at.strftime("%H:%M")%></p>
                              </div>
                            </div>
                          </div>
                        <% else %>
                          <!--学校のメッセージ-->
                          <div class="message-room text-right">
                            <div class="message-size">
                              <div class="message-sending">
                                <p class="message-time mr-2"><%= m.created_at.strftime("%H:%M")%></p>
                                <p class="message-content-own"><%= m.content %></p>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <!--選手側から見たメッセージ画面-->
                    <% else %>
                      <% @messages.each do |m| %>
                        <% if m.school_id %>
                          <!--学校のメッセージ-->
                          <div classe="message-room">
                            <div class="message-size">
                              <div class="message-sending">
                                <div style="margin-right: 10px;"><%= attachment_image_tag m.school, :high_school_image, fallback: "no_image.jpg", class: "message-avatar ml-2" %></div>
                                <p class="message-content-pair"><%= m.content %></p>
                                <p class="message-time ml-2"><%= m.created_at.strftime("%H:%M")%></p>
                              </div>
                            </div>
                          </div>
                        <% else %>
                          <!--選手のメッセージ-->
                          <div class="message-room text-right">
                            <div class="message-size">
                              <div class="message-sending">
                                <p class="message-time mr-2"><%= m.created_at.strftime("%H:%M")%></p>
                                <p class="message-content-own"><%= m.content %></p>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>

                    <!--スクロール-->
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                      <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                      <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                    </div>

                </div>
                <!--メッセージ作成＆送信-->
                <%= form_with(model: @message, url: room_messages_path(@room.id)) do |f| %>
                  <div class="publisher bt-1 border-light">
                    <%= f.text_field :content, placeholder: "メッセージを作成" , class:"publisher-input", autocomplete: 'off' %>
                    <%= f.hidden_field :room_id, value: @room.id %>
                    <%= f.button :type => "submit", class: 'publisher-btn text-info' do %>
                      <i class="fa fa-paper-plane"></i>
                    <% end %>
                  </div>
                <% end %>

              </div>
          </div>
    </div>
</div>