<div class="container">
  <h2>-<%= @school.high_school_name %>-</h2>
  <%= form_with model: @school, url: admins_school_path, method: :patch, local: true do |f| %>
  <p>学校ID<%= @school.id %></p>
  <div>
    <%= f.label "学校名" %>
    <%= f.text_field :high_school_name %>
  </div>
  <div>
    <%= f.label "監督名" %>
    <%= f.text_field :manager_name %>
  </div>
  <div>
    <%= f.label "所在地" %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label "e-mail" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label "甲子園出場回数" %>
    春<%= f.text_field :spring_koshien_times %> 夏<%= f.text_field :summer_koshien_times %>
  </div>
  <div>
    <%= f.label "寮" %>
    <%= f.select :dormitory, options_for_select(School.dormitories.keys), {prompt: "選択してください"} %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label "学校ステータス", class: "col-md-4 control-label" %>
    <%= f.radio_button :school_status, false %>
  　<%= f.label :school_status, "有効", {value: :false, style: "display: inline-block;"} %>
  　<%= f.radio_button :school_status, true %>
  　<%= f.label :school_status, "退会", {value: :true, style: "display: inline-block;"} %>
  </div>

  <div class="actions col-md-12">
    <%= link_to "保存せずに戻る", admins_schools_path, class: "glyphicon glyphicon-home btn btn-info" %>
    <%= f.submit "編集内容を保存する",class: "btn btn-primary save col-xs-6" %>
  </div>

  <% end %>


</div>