<div class="container">
  <h2>-<%= @player.name %>-</h2>
  <%= form_with model: @player, url: admins_player_path, method: :patch, local: true do |f| %>
  <p>選手ID<%= @player.id %></p>
  <div>
    <%= f.label "選手名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "在籍校" %>
    <%= f.text_field :school %>
  </div>
  <div>
    <%= f.label "在籍チーム" %>
    <%= f.text_field :enrollment %>
  </div>
  <div>
    <%= f.label "学年" %>
    <%= f.select :grade, options_for_select(Player.grades.keys), {prompt: "選択してください"} %>
  </div>
  <div>
    <%= f.label "活動拠点" %>
    <%= f.select :base, options_for_select(Player.bases.keys), {prompt: "選択してください"} %>
  </div>
  <div>
    <%= f.label "e-mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label "選手ステータス", class: "col-md-4 control-label" %>
    <%= f.radio_button :player_status, false %>
  　<%= f.label :player_status, "有効", {value: :false, style: "display: inline-block;"} %>
  　<%= f.radio_button :player_status, true %>
  　<%= f.label :player_status, "退会", {value: :true, style: "display: inline-block;"} %>
  </div>

  <div class="actions col-md-12">
    <%= link_to "保存せずに戻る", admins_players_path, class: "glyphicon glyphicon-home btn btn-info" %>
    <%= f.submit "編集内容を保存する",class: "btn btn-primary save col-xs-6" %>
  </div>

  <% end %>


</div>