<div class="container">
  <h2>-学校登録-</h2>
  <%= form_with model: @school, url: school_registration_path, id: 'new_school', class: 'new_school', local: true do |f| %>
    <%= render "schools/shared/error_messages", resource: resource %>
  <table class="table">
    <tbody>
      <tr>
        <th>学校名</th>
        <td>
          <div class="field">
            <%= f.text_field :high_school_name, autofocus: true, placeholder: '〇〇高校' %>
          </div>
        </td>
      <tr>
        <th>監督名</th>
        <td>
          <div class="field">
            <%= f.text_field :manager_name, placeholder: '藤浪 翔平' %>
          </div>
        </td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          <div class="field">
            <%= f.text_field :address, placeholder: '東京都文京区後楽園1-1-1' %>
          </div>
        </td>
      </tr>
      <tr>
        <th>甲子園出場回数</th>
        <td>
          <div class="field">
            春 <%= f.text_field :spring_koshien_times, placeholder: '0' %>　夏 <%= f.text_field :summer_koshien_times, placeholder: '0' %>
          </div>
        </td>
      </tr>
      <tr>
        <th>寮</th>
        <td>
          <div class="field">
            <%= f.select :dormitory, options_for_select(School.dormitories.keys), {prompt: "選択してください"}, class: "prefecture-select" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>e-mail</th>
        <td>
          <div class="field">
            <%= f.text_field :email, placeholder: 'sample@example.com' %>
          </div>
        </td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード' %>
          </div>
        </td>
      </tr>
      <tr>
        <th>パスワード確認用</th>
        <td>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '確認用' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-secondary center-block" %>
  </div>
  <% end %>

</div>