<div class="container">
  <h2 class="page-title">-Team page-</h2>

  <div class="card">
    <div class="card-body">
      <div class="school-info d-flex justify-content-between">
        <div class="school-image"><%= attachment_image_tag @school, :high_school_image, fallback: "no_image.jpg", class: "icon" %></div>
        <div class="school-name"><h2><%= @school.high_school_name %></h2></div>
        <div class="school-option">
          <% if school_signed_in? %>
            <%= link_to "", rooms_path, class: 'fas fa-envelope-open-text fa-2x mr-3' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Data
          <% if school_signed_in? && @school.id == current_school.id %>
            <%= link_to "️", edit_school_path(@school), class: "fas fa-cog" %>
          <% end %>
        </h4>
        <table class="table">
          <tbody>
              <tr>
                  <td>学校名</td>
                  <td><%= @school.high_school_name %></td>
              </tr>
              <tr>
                  <td>監督</td>
                  <td><%= @school.manager_name %></td>
              </tr>
              <tr>
                  <td>所在地</td>
                  <td><%= @school.address %></td>
              </tr>
              <tr>
                  <td>甲子園出場回数</td>
                  <td>春 | <%= @school.spring_koshien_times %> 夏 | <%= @school.summer_koshien_times %></td>
              </tr>
              <tr>
                  <td>寮</td>
                  <td><%= @school.dormitory %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Pickup list</h4>
        <ul class="mypage-pickup-all">
          <% @like_players.order('updated_at DESC').limit(3).each do |like| %>
          <li class="mypage-pickup-list border-line">
            <div class="mypage-like-name"><%= like.player.name %></div>
            <div class="mypage-like-school"><%= like.player.school %>/<%= like.player.enrollment %></div>
          </li>
          <% end %>
        </ul>
        <% if school_signed_in? %>
          <%= link_to school_likes_players_path(@school.id) do %>
            <p class="pickup-link">All Pickup</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>