<div class="container">
  <h2>-Team page-</h2>
  <h2><%= current_school.high_school_name %></h2>
  <%= attachment_image_tag @school, :high_school_image, fallback: "no_image.jpg", class: "icon" %>

  <% if @school.id == current_school.id %>
    <p><%= link_to "⚙️", edit_school_path(@school) %></p>
  <% end %>

  <table class="table">
    <tbody>
        <tr>
            <td>学校名</td>
            <td><%= current_school.high_school_name %></td>
        </tr>
        <tr>
            <td>監督</td>
            <td><%= current_school.manager_name %></td>
        </tr>
        <tr>
            <td>所在地</td>
            <td><%= current_school.address %></td>
        </tr>
        <tr>
            <td>甲子園出場回数</td>
            <td>春 | <%= current_school.spring_koshien_times %> 夏 | <%= current_school.summer_koshien_times %></td>
        </tr>
        <tr>
            <td>寮</td>
            <td><%= current_school.dormitory %></td>
        </tr>
    </tbody>
  </table>
  <h3>Pickup list</h3>
  <% @like_players.each do |like| %>
    <div>
      <p><%= like.player.name %>
         <%= like.player.school %>/<%= like.player.enrollment %>
      </p>
    </div>
  <% end %>
  <%= link_to school_likes_players_path(current_school.id) do %>
    <h4>All Pickup</h4>
  <% end %>


</div>