<div class="container">
  <h2>-Player page-</h2>
  <h2><%= current_player.name %></h2>
  <%= attachment_image_tag @player, :player_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <% if @player.id == current_player.id %>
    <h3><%= link_to "⚙️", edit_players_member_path(@player) %></h3>
  <% end %>

  <table class="table">
    <tbody>
        <tr>
            <td>名前</td>
            <td><%= current_player.name %></td>
        </tr>
        <tr>
            <td>学年</td>
            <td><%= current_player.grade %></td>
        </tr>
        <tr>
            <td>学校/在籍チーム</td>
            <td><%= current_player.school %>/<%= current_player.enrollment %></td>
        </tr>
        <tr>
            <td>拠点</td>
            <td><%= current_player.base %></td>
        </tr>
        <tr>
            <td>PR</td>
            <td><%= current_player.player_pr %></td>
        </tr>
    </tbody>
  </table>
  <h3>Post</h3>
  <% @posts.each do |post| %>
    <div>
      <p><%= post.created_at.strftime('%Y/%m/%d') %>
          <%= post.title %></p>
    </div>
  <% end %>
  <%= link_to posts_path do %>
    <h4>All post</h4>
  <% end %>


</div>